header.textos{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .textos .nombre{
    font-size: 50px;
    font-weight: 600;
}
header .textos .nombre span{
    font-weight: 300;
}
header .textos h3{
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}